.animaitonDiv{
    width: 1920px;
    height: 550px;
    background: #FFF;
}

@keyframes rotateAndScale {
    0% {
      transform: rotate(0deg) scale(1);
    }
    30% {
      transform: rotate(360deg);
    }
   50% {
      transform: scale(1.5);
    }
    80% {
      transform: scale(1);
    }
  }
  .square {
    width: 200px;
    height: 200px;
    margin: 200px 865px;
    background: 
      linear-gradient(225deg, transparent 50%, blue 0) top left,
        linear-gradient(45deg, transparent 50%, green 0) top left,
      linear-gradient(315deg, transparent 50%, green 0) top right,
      linear-gradient(135deg, transparent 50%, yellow 0) top right,
      linear-gradient(45deg, transparent 50%, yellow 0) bottom right,
      linear-gradient(225deg, transparent 50%, red 0) bottom right,
      linear-gradient(315deg, transparent 50%, blue 0) bottom left,
      linear-gradient(135deg, transparent 50%, red 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
      background-color: transparent;
   animation: rotateAndScale 5s ease-in-out forwards infinite;

  }
